<?xml version="1.0" encoding="utf-8"?>

<RunSettings>

	<!-- To run test in parallel -->
	<MSTest>
    <TestTimeout>600000</TestTimeout> <!-- 10 minutes -->
		<Parallelize>
			<Workers>4</Workers>
			<Scope>ClassLevel</Scope>
		</Parallelize>
	</MSTest>

	<!-- Parameters used by tests at runtime -->
	<TestRunParameters>
		<!-- can be DEV,QA,ATQA,UAT,PREPROD,LOAD,DEMO,APP-->
		<!-- also can be riyadh, mecca, chennai, ahmedabad, omaha, texas -->
		<Parameter name="Env" value="ATQA" />
		<!--can be chrome,edge-->
		<Parameter name="Browser" value="chrome" />
		<!--can be CA,CA2,TA,TA2,OL,BL,SA,M,PA,MUP-->
    <Parameter name="User" value="CA" />
    <Parameter name="DatabasePassword" value="" />
    <!--can be true or false-->
    <Parameter name="CleanCompany" value="false" />
    <Parameter name="CleanNTierCompany" value="false" />
    <Parameter name="DeleteTestCompanies" value="false" />
	<Parameter name="PopulateCompanyTeamHierarchy" value="false" />
    <!--used by the insights prod validation-->
    <Parameter name="AzureDevOpsApiKey" value="" />
    <Parameter name="ProdGroup" value="" />
    <!--used by the Wait.UntilJavaScriptReady() method-->
    <Parameter name="JsTimeout" value="60" />
    <Parameter name="UseOauth" value="false" />
    <Parameter name="NewNav" value="false" />
	<!--used for storing production credentials-->
	<Parameter name="ProdEmail" value="" />
	<Parameter name="ProdPassword" value="" />
	<!--used for storing PowerBi credentials-->
	<Parameter name="PowerBiEmail" value="" />
	<Parameter name="PowerBiPassword" value="" />
  </TestRunParameters>

</RunSettings>